body
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.ireland
{
    width: 220px;
    height: 150px;
    border: 1px solid black;
    display: flex;
    margin-bottom: 30px;

}
.left
{
    height: 150px;
    width: 73.3333333333px;
    background-color: orange ;
}
.middle
{
    height: 150px;
    width: 73.3333333333px;
    background-color: white;
}
.right
{
    background-color: green;
    height: 150px;
    width: 73.3333333333px;
}
.frankrike
{
    width: 220px;
    height: 150px;
    border: 1px solid black;
    display: flex;
    margin-bottom: 30px;
}
.left2
{
    background-color: red;
    height: 150px;
    width: 73.3333333333px;
}
.middle2
{
    background-color: white;
    height: 150px;
    width: 73.3333333333px;
}
.right2
{
    background-color: blue;
    height: 150px;
    width: 73.3333333333px;
}
.spanien
{
    width: 220px;
    height: 150px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}
.top
{
    width: 220px ;
    height: 50px;
    background-color: red;
}
.middle3
{
    width: 220px ;
    height: 50px;
    background-color: yellow;
}
.bottom
{
    width: 220px ;
    height: 50px;
    background-color: red;
}

body
{
    margin: 0;
   background-color: #FB8500; 
}
#navbar
{
    background-color: #023047;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
}
#navbar a
{
    margin-right: 40px;
    position: relative;
    left: 13px;
    font-size: 30px;
    color: #8ECAE6;
    text-decoration: none;
    font-family: 'Playpen Sans', cursive;
    transition: 0.4s all ease;
}
#navbar a:hover
{
    color: #397ebe;
}
header{
    display: flex;
    justify-content: space-between;
}
body
{
    margin: 0;
   background-color: #FB8500; 
}
#navbar
{
    background-color: #023047;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
}
#navbar a
{
    margin-right: 40px;
    position: relative;
    left: 13px;
    font-size: 30px;
    color: #8ECAE6;
    text-decoration: none;
    font-family: 'Playpen Sans', cursive;
    transition: 0.4s all ease;
}
#navbar a:hover
{
    color: #397ebe;
}
form
{
    display: flex;
    justify-content: center;
}
@media screen and (max-width:375px)
{
    *
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}