
body
{
    margin: 0;
   background-color: #FB8500; 
}
#navbar
{
    background-color: #023047;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
}
#navbar a
{
    margin-right: 40px;
    position: relative;
    left: 13px;
    font-size: 30px;
    color: #8ECAE6;
    text-decoration: none;
    font-family: 'Playpen Sans', cursive;
    transition: 0.4s all ease;
}
#navbar a:hover
{
    color: #397ebe;
}
header{
    display: flex;
    justify-content: space-between;
}